<!-- Lower Row: Twitter Embed -->
<!-- somehow in class 700px not working -->
<!-- that is why i used style inside the tag. -->

<div style="height: 700px" class="twitter-embed">
    <h4>Twitter Embed</h4>
    <a class="twitter-timeline" data-width="350" data-height="600" data-theme="dark" href="https://twitter.com/elonmusk?ref_src=twsrc%5Etfw">Tweets by elonmusk</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
   
</div>